/* Selector Universal */
* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

/* Selectores Id */
#contenedor {
    width: 900px;
    height: 1000px;
    background-color: bisque;
    margin: auto;
}
#cabecera {
    height: 15%;
}
#barraDeNavegacion {
    height: 5%;
}
#secciones {
    height: 70%;
    width: 90%;
    margin: 1em auto;
    background-color: rgb(255, 255, 255);
    font-size: medium;
}
#pieDePagina {
    height: 10%;
}

/* Selectores de clase */
.encabezado {
    color: rgb(255, 255, 255);
    background-color: rgb(32, 146, 17);
    font-size: large;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barraNavegacion {
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: 1em auto;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pieNavegacion {
    background-color: rgb(209, 7, 7);
    font-size: small;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto {
    font-size: smaller;
    text-align: justify;
    margin-top: 50px;
    border: 1px;
    border-style: solid;
    width: 95%;
    margin-left: 2%;
}


/* Selector de etiqueta html */
ul {
    text-align: center;
}

li {
    display: inline;
    
}

img {
    width: 100px;
    height: 100px;
    border: 1px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(204, 130, 69);
    margin-top: 2%;
}